In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('darkgrid')
sns.set_context('talk')

In [2]:
df = pd.read_csv('List of best-selling video games.csv')
df.head()

,Rank,Title,Sales,Series,Platform(s),Initial release date,Developer(s)[a],Publisher(s)[a]
0,1.0,Minecraft,"238,000,000[b]",Minecraft,Multi-platform[c],"November 18, 2011[d]",Mojang Studios,Xbox Game Studios
1,2.0,Grand Theft Auto V,"170,000,000",Grand Theft Auto,Multi-platform,"September 17, 2013",Rockstar North,Rockstar Games
2,3.0,Tetris (EA),"100,000,000",Tetris,Multi-platform[e],"September 12, 2006",EA Mobile,Electronic Arts
3,4.0,Wii Sports,"82,900,000",Wii,Wii,"November 19, 2006",Nintendo EAD,Nintendo
4,5.0,PUBG: Battlegrounds,"75,000,000",PUBG Universe,Multi-platform,"December 20, 2017",PUBG Corporation,PUBG Corporation

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49 entries, 0 to 48
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Rank                  49 non-null     float64
 1   Title                 49 non-null     object
 2   Sales                 43 non-null     object
 3   Series                49 non-null     object
 4   Platform(s)           49 non-null     object
 5   Initial release date  49 non-null     object
 6   Developer(s)[a]       49 non-null     object
 7   Publisher(s)[a]       49 non-null     object
dtypes: float64(1), object(7)
memory usage: 3.2+ KB

In [4]:
df.isna().sum()

Rank                    0
Title                   0
Sales                   6
Series                  0
Platform(s)             0
Initial release date    0
Developer(s)[a]         0
Publisher(s)[a]         0
dtype: int64

In [5]:
df[df.Sales.isna()]

,Rank,Title,Sales,Series,Platform(s),Initial release date,Developer(s)[a],Publisher(s)[a]
20,21.0,Diablo III / Reaper of Souls,NaN,Diablo,Multi-platform,16.May.12,Blizzard Entertainment,Blizzard Entertainment
21,22.0,Human: Fall Flat,NaN,None,Multi-platform,"July 22, 2016",No Brakes Games,Curve Digital
22,23.0,The Elder Scrolls V: Skyrim,NaN,The Elder Scrolls,Multi-platform,"November 11, 2011",Bethesda Game Studios,Bethesda Softworks
25,26.0,Pokémon Gold / Silver / Crystal,NaN,Pokémon,Game Boy Color,"November 21, 1999",Game Freak,Nintendo
35,36.0,Pokémon Sword / Shield,NaN,Pokémon,Nintendo Switch,"November 15, 2019",Game Freak,Nintendo / The Pokémon Company
42,43.0,Kinect Adventures!,NaN,None,Xbox 360,"November 4, 2010",Good Science Studio,Xbox Game Studios

In [6]:
df2 = pd.read_csv('popular_video_games_1980_2023.csv')
df2.head()

,Unnamed: 0,Title,Release Date,Team,Rating,Times Listed,Number of Reviews,Genres,Summary,Reviews,Plays,Playing,Backlogs,Wishlist
0,0,Elden Ring,"Feb 25, 2022","['Bandai Namco Entertainment', 'FromSoftware']",4.5,3.9K,3.9K,"['Adventure', 'RPG']","Elden Ring is a fantasy, action and open world...","[""The first playthrough of elden ring is one o...",17K,3.8K,4.6K,4.8K
1,1,Hades,"Dec 10, 2019",['Supergiant Games'],4.3,2.9K,2.9K,"['Adventure', 'Brawler', 'Indie', 'RPG']",A rogue-lite hack and slash dungeon crawler in...,['convinced this is a roguelike for people who...,21K,3.2K,6.3K,3.6K
2,2,The Legend of Zelda: Breath of the Wild,"Mar 03, 2017","['Nintendo', 'Nintendo EPD Production Group No...",4.4,4.3K,4.3K,"['Adventure', 'RPG']",The Legend of Zelda: Breath of the Wild is the...,['This game is the game (that is not CS:GO) th...,30K,2.5K,5K,2.6K
3,3,Undertale,"Sep 15, 2015","['tobyfox', '8-4']",4.2,3.5K,3.5K,"['Adventure', 'Indie', 'RPG', 'Turn Based Stra...","A small child falls into the Underground, wher...",['soundtrack is tied for #1 with nier automata...,28K,679,4.9K,1.8K
4,4,Hollow Knight,"Feb 24, 2017",['Team Cherry'],4.4,3K,3K,"['Adventure', 'Indie', 'Platform']",A 2D metroidvania with an emphasis on close co...,"[""this games worldbuilding is incredible, with...",21K,2.4K,8.3K,2.3K

In [7]:
df2.describe()

        Unnamed: 0       Rating
count  1512.000000  1499.000000
mean    755.500000     3.719346
std     436.621117     0.532608
min       0.000000     0.700000
25%     377.750000     3.400000
50%     755.500000     3.800000
75%    1133.250000     4.100000
max    1511.000000     4.800000

In [8]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1512 entries, 0 to 1511
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         1512 non-null   int64
 1   Title              1512 non-null   object
 2   Release Date       1512 non-null   object
 3   Team               1511 non-null   object
 4   Rating             1499 non-null   float64
 5   Times Listed       1512 non-null   object
 6   Number of Reviews  1512 non-null   object
 7   Genres             1512 non-null   object
 8   Summary            1511 non-null   object
 9   Reviews            1512 non-null   object
 10  Plays              1512 non-null   object
 11  Playing            1512 non-null   object
 12  Backlogs           1512 non-null   object
 13  Wishlist           1512 non-null   object
dtypes: float64(1), int64(1), object(12)
memory usage: 165.5+ KB

In [9]:
df2.isna().sum()

Unnamed: 0            0
Title                 0
Release Date          0
Team                  1
Rating               13
Times Listed          0
Number of Reviews     0
Genres                0
Summary               1
Reviews               0
Plays                 0
Playing               0
Backlogs              0
Wishlist              0
dtype: int64

In [10]:
df3 = pd.read_csv('Video_games_esrb_rating.csv')
df3.head()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ET
2,NIER REPLICANT VER.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,M
3,Jamestown+,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,ET
4,Neptunia Virtual Stars,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,T

In [11]:
df4 = pd.read_csv('test_esrb.csv')
df4.head()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Still Time,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,T
1,Surf World Series,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
2,The Metronomicon: Slay the Dance Floor,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,T
3,Windjammers,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
4,Rock of Ages 2: Bigger and Boulder,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,ET

In [12]:
df3.describe()

,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,intense_violence,...,partial_nudity,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence
count,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,...,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000
mean,0.475462,0.050132,0.010026,0.227968,0.126121,0.019525,0.054354,0.034828,0.220580,0.118206,...,0.013193,0.034301,0.057520,0.067018,0.118206,0.035884,0.117678,0.015831,0.015831,0.063852
std,0.499529,0.218275,0.099655,0.419633,0.332074,0.138398,0.226774,0.183394,0.414748,0.322937,...,0.114129,0.182049,0.232895,0.250120,0.322937,0.186050,0.322312,0.124855,0.124855,0.244554
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [13]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     1895 non-null   object
 1   console                   1895 non-null   int64
 2   alcohol_reference         1895 non-null   int64
 3   animated_blood            1895 non-null   int64
 4   blood                     1895 non-null   int64
 5   blood_and_gore            1895 non-null   int64
 6   cartoon_violence          1895 non-null   int64
 7   crude_humor               1895 non-null   int64
 8   drug_reference            1895 non-null   int64
 9   fantasy_violence          1895 non-null   int64
 10  intense_violence          1895 non-null   int64
 11  language                  1895 non-null   int64
 12  lyrics                    1895 non-null   int64
 13  mature_humor              1895 non-null   int64
 14  mild_blood                1895 non-null   int64
 15  mild_cartoon_violence     1895 non-null   int64
 16  mild_fantasy_violence     1895 non-null   int64
 17  mild_language             1895 non-null   int64
 18  mild_lyrics               1895 non-null   int64
 19  mild_suggestive_themes    1895 non-null   int64
 20  mild_violence             1895 non-null   int64
 21  no_descriptors            1895 non-null   int64
 22  nudity                    1895 non-null   int64
 23  partial_nudity            1895 non-null   int64
 24  sexual_content            1895 non-null   int64
 25  sexual_themes             1895 non-null   int64
 26  simulated_gambling        1895 non-null   int64
 27  strong_janguage           1895 non-null   int64
 28  strong_sexual_content     1895 non-null   int64
 29  suggestive_themes         1895 non-null   int64
 30  use_of_alcohol            1895 non-null   int64
 31  use_of_drugs_and_alcohol  1895 non-null   int64
 32  violence                  1895 non-null   int64
 33  esrb_rating               1895 non-null   object
dtypes: int64(32), object(2)
memory usage: 503.5+ KB

In [14]:
df3.isna().sum()

title                       0
console                     0
alcohol_reference           0
animated_blood              0
blood                       0
blood_and_gore              0
cartoon_violence            0
crude_humor                 0
drug_reference              0
fantasy_violence            0
intense_violence            0
language                    0
lyrics                      0
mature_humor                0
mild_blood                  0
mild_cartoon_violence       0
mild_fantasy_violence       0
mild_language               0
mild_lyrics                 0
mild_suggestive_themes      0
mild_violence               0
no_descriptors              0
nudity                      0
partial_nudity              0
sexual_content              0
sexual_themes               0
simulated_gambling          0
strong_janguage             0
strong_sexual_content       0
suggestive_themes           0
use_of_alcohol              0
use_of_drugs_and_alcohol    0
violence                    0
esrb_rating                 0
dtype: int64

In [15]:
df5 = pd.read_json('hltb.jsonlines', lines=True)
df5.head()

,Name,Stats,steam_app_id,Release_date,Genres,Review_score
0,Borderlands 3,{'Additional Content': {'Moxxi's Heist of the ...,397540.0,2019-09-13,"First-Person, Action, Shooter",76
1,Dying Light,{'Additional Content': {'The Following': {'Pol...,239140.0,2015-01-27,"Action, Adventure, Open World, Survival Horror",78
2,Middle-Earth: Shadow of War,{'Additional Content': {'Blade of Galadriel': ...,356190.0,2017-10-10,"Action, Adventure",76
3,Counter-Strike: Global Offensive,"{'Multi-Player': {'Co-Op': {'Polled': '34', 'A...",730.0,2012-08-21,"First-Person, Shooter",74
4,Grand Theft Auto IV,{'Additional Content': {'The Lost and Damned':...,5152.0,2008-04-29,"Third-Person, Action, Sandbox, Shooter",82